<div id="idea_form">
  <%= form_for(:idea, url: ideas_path) do |f|%>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :images %><br/>
  <% Image.all.each do |image|%>
    <%= f.check_box("i_#{image.id}") %>
    <%= f.label("i_#{image.id}", "#{image.name}") %>
  <% end %>
  </p>
  <%= f.submit "Create" %>
  <% end %>
</div>
