  <h1 id="banner"> Welcome <%= @user.username %> </h1>
    <%= render partial: 'ideas/form' %>

  <h2> All ideas</h2>
  <%= render partial: 'users/idea', collection: @user.ideas %>

<% if @user.role == "admin" %>
  <%= link_to "Manage Categories", categories_path %><br/>
  <%= link_to "Manage Images", images_path %>
<% end %>
